.BuildControls {
  width: 100%;
  background-color: rgb(255, 166, 0);
  display: flex;
  flex-flow: column;
  align-items: center;
  box-shadow: 0 2px 1px 1px #ccc;
  margin: auto;
  padding: 1rem;
}

.OrderButton {
  background-color: #fffb00;
  outline: none;
  cursor: pointer;
  border: none;
  color: #000000;
  font-family: inherit;
  font-size: 1.2em;
  padding: 15px 30px;
  box-shadow: 2px 2px 2px #966909;
}

.OrderButton:hover, .OrderButton:active {
  background-color: #0dc706;
  border: none;
  color: #000000;
  transform: scale(1.2);
  transition: transform 0.5s ease-in-out;
}

.OrderButton:disabled {
  background-color: #C7C6C6;
  cursor: not-allowed;
  color: #888888;
}

.OrderButton:not(:disabled) {
  animation: enable 0.3s linear;
}

@keyframes enable {
  0% {
      transform: scale(1);
  }
  60% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}